@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Zanabazar+Square&display=swap');

.body {
  /* padding: 0px 0px 10px 0px; */
  /* background-color: rgb(100, 98, 98); */
}
/* Navbar */
.Navbar {
  background-color: whitesmoke;
  
  
}
.navbar1 {
  font-family: 'Noto Sans Zanabazar Square', sans-serif;
  font-size: 20px;
  margin: 5px 150px;
  padding: 5px;
  /* background-color: rgb(100, 98, 98); */
}
.navbar2 {
  padding: 5px;
}
/* Image */
.Image1 {
  height: 100vh;
  background: url("../public/simpan1.png");
}
/* Blog Pribadi */
 .container {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 10px;
}
.blogPribadi {
  margin-top: 20px;
}
/* Footer */
.footer {
  background-color: whitesmoke;
  height: 50px;
  text-align: center;
  padding: 5px;
}